.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.explore-menu h1 {
  color: var(--dark);
  font-weight: 500;
}

.explore-menu-text {
  max-width: 60%;
  color: var(--gray);
  text-align: justify;
}

.explore-menu hr {
  margin: 10px 0;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
