.responsive-picture-container {
    position: relative;
    display: block;
    width: 100%;
}

.responsive-picture {
    display: block;
    width: 100%;
    height: auto;
}

.responsive-picture img {
    width: 100%;
    height: auto;
    display: block;
}