.menu-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0;
  overflow-x: scroll;
}

.menu-list-container::-webkit-scrollbar {
  display: none;
}

.menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s ease;
}

.menu-list-item p {
  margin-top: 10px;
  color: var(--gray);
  font-size: max(1.2vw, 16px);
  cursor: pointer;
}

.menu-list-item .active {
  border: 4px solid var(--primary);
  padding: 2px;
}
